.comment {
    // border: 1px dashed black;
    width: 90%;

    &>section:nth-child(1) {
        background: $bg-neutral;
        display: grid;
        grid-template-columns: 85px auto;
        grid-template-rows: 60px auto 60px;
        grid-template-areas: "header header""content content""toggle reply-container";
        // border: 1px solid red;
        grid-row-gap: 10px;
        border-radius: 10px;
        
        padding: 15px;


        .comment_header {
            grid-area: header;
            width: 90%;
            display: grid;
            grid-template-columns: repeat(3, auto);
            align-items: center;

            img {
                width: 35px;
                height: 35px
            }

            h1 {
                span {
                    display: inline-block;
                    text-align: center;
                    width: 35px;
                    background: $btn-primary;
                    border-radius: 3px;
                    color: $bg-neutral;
                    font-weight: weights(bold)
                }
            }
        }

        &>p:nth-child(2) {
            grid-area: content;

            span {
                //for the replies
                color: $btn-primary;
                font-weight: weights(bold);
            }
        }

        &>.toggle {
            grid-area: toggle;
            color: $btn_primary;
            background: $bg-primary;
            display: grid;
            border-radius: 10px;
            align-items: center;
            grid-template-columns: repeat(3, auto);
            height: 80%;
            font-weight: weights(bold);
            text-align: center;

            button {
                color: $button_and_border;
                font-size: 18px;
                font-weight: weights(regular);

                &:hover {
                    color: $btn-primary;
                    transition: color 0.3s linear;
                }
            }

        }

        &>.reply_container {
            grid-area: reply-container;
            // border: 1px solid blue;
            display: grid;
            justify-items: end;

            .btn_open_reply {
                height: 80%;
                color: $btn_primary;
                font-weight: weights(bold);
                font-size: 18px;
                font-family: inherit;

                &:hover {
                    color: $button_and_border;
                    transition: color 0.3s linear;
                }

                span {
                    padding-left: 5px;
                }
            }

            .userBtn_container {
                height: 90%;
                width: 90%;
                justify-self: end;

                .btn_danger {
                    @include user_btn($btn_danger);

                    &:hover {
                        color: $btn-danger-hover;
                        transition: color 0.3s linear;
                    }
                }

                .btn_primary {
                    @include user_btn($btn_primary);

                    &:hover {
                        color: $button_and_border;
                        transition: color 0.3s linear;
                    }
                }
            }

        }
    }

}

.form_field {
    margin-top: 15px;
    border-radius: 10px;
    background-color: $bg-neutral;
    height: 170px;
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: .65fr .35fr;
    grid-row-gap: 10px;
    padding: 20px;
    grid-template-areas: "input input" "img reply";

    .img-container {
        grid-area: img;
        align-self: center;
    }

    .textarea_container {
        grid-area: input;

        textarea {
            width: 100%;
            height: 100%;
            // border:$text-color-border;
            border-radius: 10px;
            resize: none;
            padding: 10px;
            font-size: 18px;
            font-weight: weights(bold);
            font-family: inherit;

            &.invalid {
                border: 3px solid $btn_danger;
            }
        }
    }

    .submit_container {
        align-self: center;
        justify-self: end;
        grid-area: reply;


        button {
            font-family: inherit;
            font-size: 18px;
            width: 100px;
            height: 40px;
            border-radius: 5px;
            background: $btn-primary;
            color: $bg-neutral;
            font-weight: weights(medium);

            &:hover {
                background: $button_and_border;
                transition: color 0.3s linear;
            }
        }
    }
}

.icon {
    position: relative;
    left: -3px;
    top: 2px;
    font-size: 18px;
}

// for the dashboard
footer {
    width: 90%;

    .form_field.comment {
        width: 100%;
        height: 220px;
        grid-template-rows: .85fr .15fr;

    }
}
// for responsiveness
@include media-lg {
    .comment {
        width: 50%;

        &>section:nth-child(1) {
            grid-template-columns: 60px auto auto;
            grid-template-rows: auto auto;
            grid-template-areas: "toggle header reply-container""toggle content content";
            padding: 20px;
            grid-column-gap: 20px;
            min-height: 200px;

            .comment_header {
                width: 80%;
            }

            &>.toggle {
                align-self: center;
                grid-template-columns: auto;
                grid-template-rows: repeat(3, auto);
                // border: 1px solid;
            }
        }
    }

    .form_field {
        grid-template-columns: 80px auto 120px;
        grid-template-rows: auto;
        grid-template-areas: "img input reply";

        .submit_container {
            align-self: start;
        }
    }

    footer {
        width: 50%;
    }

    .modal-overlay .modal-container {
        width: 25%;
    }
}