
//colors

$btn_primary:hsl(238, 40%, 52%);
$btn_danger:hsl(358, 79%, 66%);
$button_and_border:hsl(239, 57%, 85%); 
$btn-danger-hover:hsl(357, 100%, 86%);
$text-color-sd:hsl(212, 24%, 26%);
$text-color-wk:hsl(211, 10%, 45%); 
$bg-primary:hsl(223, 19%, 93%);
$text-color:hsl(228, 33%, 97%);
$bg-neutral:hsl(0, 0%, 100%);